/* main styles */
* {
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    background-color: dimgrey;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    color: #3ab9ff;
}